	<tr>
		<td colspan="12" height="10">&nbsp;</td>
	</tr>
	
	<tr>
		<td colspan="7" class="left">
			<table id="note-tab" style="width: 100%; border:none;">
				<tr>
					<td style="border:none;">{l s='Note' pdf='true'}</td>
				</tr>
				<tr>
					<td class="note" style="border:1px solid #000;height:50px">{$order_invoice->note|nl2br}</td>
				</tr>
			</table>
		</td>
	</tr>
