<table id="shipping-tab" width="100%" border="1">
	<tr>
		<td class="shipping center small grey bold" width="44%">{l s='Carrier' pdf='true'}</td>
		<td class="shipping center small white" width="56%">{$carrier->name}</td>
	</tr>
</table>
