/**
 *  2016 ModuleFactory.co
 *
 *  @author    ModuleFactory.co <info@modulefactory.co>
 *  @copyright 2016 ModuleFactory.co
 *  @license   ModuleFactory.co Commercial License
 */

.fsau-schema-url {
    font-size: 14px;
    padding-top: 4px;
}

#fsau-developed-by img {
    max-width: 100%;
    text-align: center;
}

.fsau_progress {
    margin-bottom: 0 !important;
    margin-top: 8px;
}

#fsau_tabs_content_15 .product-tab-content {
    display: none;
}

#fsau_tabs_content_15 .product-tab-content.active {
    display: block;
}

.fsau-duplicate-alert {
    color: #ff0000;
    font-weight: bold;
}

.fsau-line-through {
    text-decoration: line-through;
}

.fsau-bold {
    font-weight: bold;
}