<div class="senangpayPayment payment_div2 col-xs-12">
	<div class="payment_module">
		<a class="senangpayLink" style="display:none;" href="{$link->getModuleLink('senangpay', 'redirect')|escape:'html'}" title="{l s='Pay by Visa / Master' mod='senangpay'}">
      {l s='Pay by Visa / Master' mod='senangpay'}
    </a>
		<div>
      <span class="inline"><input type="radio" id="senangpayrad" name="paymenttype" value="senangpay" checked="checked" /></span>
      <span class="inline"><img class="img-responsive" title="Credit Card/ Debit Card" src="{$this_path_cs}credit.png" /></span>
    </div>
	</div>
</div>
