<div class="globalpaymentPayment payment_div2 col-xs-12">
	<div class="payment_module">
		<a class="globalpaymentLink" style="display:none;" href="{$link->getModuleLink('globalpayment', 'redirect')|escape:'html'}" title="{l s='Pay by Visa / Master' mod='globalpayment'}">
			{l s='Pay by Visa / Master' mod='globalpayment'}
		</a>
		<div>
      <span class="inline"><input type="radio" id="globalpaymentrad" name="paymenttype" value="globalpayment" checked="checked" /></span>
      <span class="inline"><img class="img-responsive" title="Credit Card/ Debit Card" src="{$this_path_gp}credit.png" /></span>
    </div>
	</div>
</div>
