/**************************************************************
					CMS Pages Styles
***************************************************************/
#cms #center_column .block-cms {
	padding-bottom: 20px;
}
#cms #center_column h1 {
	margin-bottom: 25px;
}
#cms #center_column h3 {
	font-size: 16px;
	border-bottom: none;
	margin: 0;
	padding: 0 0 17px 0;
}
#cms #center_column p {
	line-height: 18px;
}
#cms #center_column .list-1 li {
	padding: 4px 0 6px 0;
	font-weight: bold;
	color: #46a74e;
	border-top: 1px solid #d6d4d4;
}
#cms #center_column .list-1 li:first-child {
	border: none;
}
#cms #center_column .list-1 li em {
	font-size: 20px;
	line-height: 20px;
	padding-right: 15px;
	vertical-align: -2px;
}
#cms #center_column img {
	margin: 4px 0 17px;
	max-width: 100%;
	height: auto;
}
#cms #center_column .testimonials {
	border: 1px solid;
	border-color: #dfdede #d2d0d0 #b0afaf #d2d0d0;
	margin: 4px 0 13px 0;
	position: relative;
}
#cms #center_column .testimonials .inner {
	border: 1px solid #fff;
	padding: 19px 18px 11px 18px;
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #fefefe));
	background: -webkit-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
	background: -o-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
	background: -ms-linear-gradient(top, #fbfbfb 0%, #fefefe 100%);
	background: linear-gradient(to bottom, #fbfbfb 0%, #fefefe 100%);
}
#cms #center_column .testimonials .inner span {
	text-indent: -5000px;
	display: inline-block;
	width: 20px;
	height: 15px;
}
#cms #center_column .testimonials .inner span.before {
	background: url(../img/bl-before-bg.png) no-repeat;
	margin-right: 8px;
}
#cms #center_column .testimonials .inner span.after {
	background: url(../img/bl-after-bg.png) no-repeat;
	margin-left: 8px;
}
#cms #center_column .testimonials:after {
	content: ".";
	display: block;
	text-indent: -5000px;
	position: absolute;
	bottom: -16px;
	left: 21px;
	width: 15px;
	height: 16px;
	background: url(../img/testimon-after.gif) no-repeat;
}
#cms #center_column .testimonials + p {
	padding-left: 45px;
	margin-bottom: 18px;
}
#cms #center_column p.bottom-indent {
	margin-bottom: 18px;
}
#cms #center_column #admin-action-cms {
	background: none repeat 0 0 #F6F6F6;
	border: 1px solid #d2d0d0;
	padding: 10px;
}
#cms #center_column #admin-action-cms p {
	margin: 0;
}
#cms #center_column #admin-action-cms p span {
	display: block;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
#cms #center_column #admin-action-cms p .button {
	font: 700 17px/21px Arial, Helvetica, sans-serif;
	padding: 0;
	border: 1px solid;
	padding: 10px 14px;
	display: inline-block;
}
#cms #center_column #admin-action-cms p .button.publish_button {
	color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	border-color: #0079b6 #006fa8 #012740 #006fa8;
	background: #009ad0;
	background: -moz-linear-gradient(top, #009ad0 0%, #007ab7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #009ad0), color-stop(100%, #007ab7));
	background: -webkit-linear-gradient(top, #009ad0 0%, #007ab7 100%);
	background: -o-linear-gradient(top, #009ad0 0%, #007ab7 100%);
	background: -ms-linear-gradient(top, #009ad0 0%, #007ab7 100%);
	background: linear-gradient(to bottom, #009ad0 0%, #007ab7 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ad0', endColorstr='#007ab7', GradientType=0);
}
#cms #center_column #admin-action-cms p .button.publish_button:hover {
	border-color: #01314e #004b74 #0079b6 #004b74;
	filter: none;
	background: #0084bf;
}
#cms #center_column #admin-action-cms p .button.lnk_view {
	color: #333;
	text-shadow: 1px 1px white;
	border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
	background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0);
}
#cms #center_column #admin-action-cms p .button.lnk_view:hover {
	border-color: #9e9e9e #9e9e9e #c8c8c8 #9e9e9e;
	filter: none;
	background: #e7e7e7;
}
/*# sourceMappingURL=cms.css.map */
.corporate-menu {
	padding: 15px 0;
}
.corporate-menu li {
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 0 2px;
	height: 44px;
}
.corporate-menu li div {
	background-color: #ded5a0;
	height: 44px;
}
.corporate-menu li.on div, .corporate-menu li div:hover {
	background-color: #48784e;
}
.corporate-menu li.on a, .corporate-menu li div:hover a {
	color: #fff;
}
 .corporate-menu li.on::after {
 content: '';
 position: absolute;
 left: 45%;
 bottom: -8px;
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 8px 8px 0 8px;
 border-color: #48784e transparent transparent transparent;
}
.corporate-menu li a {
	display: inline-block;
	color: #775524;
	font-size: 16px;
	width: 100%;
	height: 100%;
	line-height: 20px;
	margin: 12px 0;
}
.corporate-menu li a.line2 {
	margin: 2px 0;
}
.vision-bg {
	background: url("/img/cms/vision/background.jpg") no-repeat;
	width: 100%;
	max-width: 1140px;
	min-height: 574px;
	margin: 0 auto;
	padding: 0 1% 0 44%;
}
.vision-header {
	background: url("/img/cms/vision/h3-vision.png") no-repeat 50% 50%;
	height: 148px;
	top: 2%;
}
#cms p {
	font-size: 14px;
	color: #606060;
	line-height: 1.6 !important;
	margin: 0 0 1.5em;
}
#cms p > em {
	font-size: 20px;
	line-height: 34px;
	color: #00af6f;
	font-style: normal !important;
	font-weight: bold;
}
.value-point {
	max-width: 900px;
	margin: 0 auto;
}
.value-point div.row {
	background-color: #f7f7f4;
	padding: 10px;
	margin-top: 20px;
}
.col-video {
	max-width: 560px;
}
.rte ul.sub_nav {
	padding: 0 !important;
}
.cms-content {
	position: relative;
	max-width: 1140px;
	margin: 0 auto;
}
.cms-qa.nav_map {
	display: table;
	margin: 40px auto 32px;
	padding-bottom: 2.2em;
	position: relative;
}
.cms-qa.nav_map:before {
	display: inline-block;
	content: '';
	width: 70%;
	height: 6%;
	background-color: #cdeab3;
	position: absolute;
	left: 15%;
	top: 24%;
	z-index: 1;
}
.cms-qa ul {
	position: relative;
	z-index: 2;
	padding: 0;
}
.cms-qa li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
 .cms-qa li:not(:first-child) {
 margin-left: 46px;
}
.cms-qa li a {
	padding-top: 82px;
	color: #4c7a60;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
}
.cms-qa .icon2-item_01, .cms-qa .icon2-item_02, .cms-qa .icon2-item_03, .cms-qa .icon2-item_04 {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 78px;
	height: 78px;
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
.cms-qa .icon2-item_01 {
	background-image: url("/img/cms/quality%20assurance/SelectedIngredients.png");
}
.cms-qa .icon2-item_02 {
	background-image: url("/img/cms/quality%20assurance/ProductionProcess.png");
}
.cms-qa .icon2-item_03 {
	background-image: url("/img/cms/quality%20assurance/RigorousInspection.png");
}
.cms-qa .icon2-item_04 {
	background-image: url("/img/cms/quality%20assurance/Efficacy.png");
}
.cms-qa .icon2-item_01.on {
	background-image: url("/img/cms/quality%20assurance/SelectedIngredients-on.png");
}
.cms-qa .icon2-item_02.on {
	background-image: url("/img/cms/quality%20assurance/ProductionProcess-on.png");
}
.cms-qa .icon2-item_03.on {
	background-image: url("/img/cms/quality%20assurance/RigorousInspection-on.png");
}
.cms-qa .icon2-item_04.on {
	background-image: url("/img/cms/quality%20assurance/Efficacy-on.png");
}
.cms-qa .icon2-more_01, .cms-qa .icon2-more_02, .cms-qa .icon2-more_03, .cms-qa .icon2-more_04 {
	position: relative;
	display: table;
	color: #FFF;
	margin: 0 auto;
	text-indent: 0;
	background-color: #4d7b5f;
	padding: 0.5% 5% 0.5% 3%;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	font-size: 14px;
}
 .cms-qa .icon2-more_01::after, .cms-qa .icon2-more_02::after, .cms-qa .icon2-more_03::after, .cms-qa .icon2-more_04::after {
 display: inline-block;
 content: '';
 vertical-align: middle;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 position: absolute;
 border: solid 3px #4d7b5f;
 -moz-border-radius: 100%;
 -webkit-border-radius: 100%;
 border-radius: 100%;
 width: 42px;
 height: 42px;
 right: -12%;
 top: -30%;
}
 .cms-qa .icon2-more_01::after {
 background-image: url("/img/cms/quality%20assurance/SelectedIngredients-footer.png");
}
 .cms-qa .icon2-more_02::after {
 background-image: url("/img/cms/quality%20assurance/ProductionProcess-footer.png");
}
 .cms-qa .icon2-more_03::after {
 background-image: url("/img/cms/quality%20assurance/RigorousInspection-footer.png");
 right: -15%;
}
 .cms-qa .icon2-more_04::after {
 background-image: url("/img/cms/quality%20assurance/Efficacy-footer.png");
 right: -19%;
}
.slogan_h3 {
	color: #4d7b5f;
	text-align: center;
	border-top: solid 1px #cee9c7;
	border-bottom: solid 1px #cee9c7;
}
.slogan_h3 h3 {
	margin: 10px auto;
	line-height: 1.2;
	padding: 16px 0 !important;
}
.slogan_h3 h3 em {
	font-size: 30px;
	font-weight: 650;
}
h4.mc {
	text-align: center;
	color: #4d7b5f;
	font-size: 26px;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}
.says {
	padding: 30px 3%;
	background-color: #f7f7f4;
}
.says .tit {
	display: inline-block;
	min-height: 40px;
	font-size: 115%;
	font-weight: bold;
	line-height: 42px;
	margin: 0 0 1.3em -4.3%;
	color: #855d10;
	list-style-type: disc;
	background-color: #e8e1ba;
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 12px;
	padding-right: 20px;
}
.hr {
	width: 96%;
	height: 0;
	margin: 0.5em auto 1.5em !important;
	border-bottom: solid 1px #efede0;
}
 .says .graph .col-wrap div:nth-child(2) {
 border-left: solid 1px #d7d7d7;
}
.says .graph .col-wrap row-centered {
	text-align: center;
}
.says p.p1 {
	padding-top: 30px;
	font-size: 20px !important;
	font-weight: bold;
	line-height: 1.2 !important;
	color: #a01227 !important;
	text-align: center;
	margin: 0 !important;
}
.says p.p2 {
	font-size: 9px !important;
	padding: 5%;
	color: #606060 !important;
}
.w900 {
	max-width: 900px;
	margin: 0 auto;
}
.says .cont2 h3 {
	color: #00af6f;
	font-size: 20px !important;
	font-weight: 600;
	padding: 0 !IMPORTANT;
}
.pic.tbc {
	text-align: center;
}
#cms #center_column .cms-faq .facet {
	padding: 10px;
	margin: 10px 0;
	border-bottom: 1px solid #dcd9d9;
}
#cms #center_column .cms-faq .facet h3 {
	padding: 0;
	background-color: #fafafa;
	color: rgba(0, 67, 29, 0.7);
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}
#cms #center_column .cms-faq .facet:after {
	content: none;
}
#cms #center_column .cms-faq .facet:first-child {
	margin-top: 0;
}
.faq-section p > string {
	color: #4c7b60;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	margin: 0 0 20px;
}
#cms .faq-section p.section {
	color: #d81920;
	font-size: 15px;
	margin: 0 0 20px;
	padding-bottom: 20px;
}
.content-faq {
	background-color: #fafafa;
	margin-bottom: 20px;
	position: relative;
	padding: 30px;
}
.content-faq p {
	margin: 0 !important;
}
.content-faq p .question {
	border: 1px solid #c4d1c9;
	background-color: #fafafa;
	display: block;
	padding: 10px 15px;
	color: rgb(216, 25, 32);
	margin: 20px 0 0;
	font-weight: 600;
}
.content-faq .answer {
	border-bottom: 1px solid #c4d1c9;
	border-right: 1px solid #c4d1c9;
	border-left: 1px solid #c4d1c9;
	background-color: #fff;
	display: block;
	padding: 10px 15px;
	margin-bottom: 30px !important;
}
.content-faq .noquestion {
	border-top: 1px solid #c4d1c9;
}
 @media (max-width: 768px) {
 .vision-bg {
 background-size: contain;
 padding: 65% 0 0;
 position: relative;
}
 .vision-header {
 position: absolute;
 width: 50%;
 background-size: contain;
 right: 0;
}
 .corporate-menu {
 padding: 0;
}
 .cms-qa.nav_map {
 margin: 20px 0;
 width: 100%;
}
 .cms-qa.nav_map:before {
 left: 13%;
 top: 28%;
}
 .cms-qa li {
 width: 17%;
}
 .cms-qa li:not(:first-child) {
 margin-left: 9%;
}
 .cms-qa li a {
 padding-top: 100%;
}
 .cms-qa .icon2-item_01, .cms-qa .icon2-item_02, .cms-qa .icon2-item_03, .cms-qa .icon2-item_04 {
 width: 100%;
 height: auto;
 background-size: contain;
 background-position: top;
}
}
 @media (max-width: 480px) {
 .cms-qa.nav_map:before {
 left: 13%;
 top: 22%;
}
}
