p#groupInformations {
	font-weight: bold;
	line-height: 30px;
}

div#globalSyncContainer {
	text-align: center;
}
p#progressSyncAllInformation {
	text-align: left !important;
}

div#deleteAllContainer, div#syncEditorialContainer, div#syncCMSPagesContainer, div#syncCategoriesContainer, div#syncManufacturersContainer, div#syncProductContainer {
    background: url("../img/sub_black_accept.png") no-repeat scroll right top transparent;
    padding-right: 75px;
	min-height: 70px;
}
div#deleteAllContainer.taskDone, div#syncEditorialContainer.taskDone, div#syncCMSPagesContainer.taskDone, div#syncCategoriesContainer.taskDone, div#syncManufacturersContainer.taskDone, div#syncProductContainer.taskDone {
    background: url("../img/sub_blue_accept.png") no-repeat scroll right top transparent;
}

a.synchroniseallproducts, a.synchroniseallcmspages, a.synchroniseallcategories, a.synchroniseallmanufacturers, a.synchroniseeditorial, a.removealllinks  {
    line-height: 30px;
    padding: 0 20px !important;
	font-weight: bold !important;
}
a.synchroniseeverything {
	font-size: 16px !important;
    line-height: 38px;
    width: 180px;
	font-weight: bold !important;
    color: #008acf !important;
}

a.removealllinks {
    color: red !important;
}

div#groupCMSZone, div#groupCategoriesZone, div#groupManufacturersZone, div#groupProductZone { display: none; }
p#progressDeleteAllInformation {
	line-height: 24px;
	padding-left: 30px;
	font-weight: bold;
	background: url('../img/loader.gif') no-repeat left top;
	margin: 10px 0 0 0 !important
}


.category-tree-table {
    float: left;
    margin-top: 5px;
}

.dynamicTextarea {
	height:350px;
	width:600px;
	background:#f3f3f3;
	border:1px solid #ccc;
	padding:5px;
	margin-left:5px;
	float:left;
	position:relative;
}

.codeEditButton{
	height:350px;
	width:290px;
	float:left;
	position:relative;
	margin-left:10px;
	line-height:25px;
}

.highlight{background-color: #D9D9D9!important;color:#000;}

.button_group{display:none;}

.button_group_category{
	height: 50px;
}
.button_group_product{
	height: 50px;
}
.button_group_customer{
	height: 105px;
}
.button_group_cart{
	height: 105px;
}
.button_group_order{
	height: 50px;
}
.checkBoxOverflow{
	border:1px solid #CCCCCC;
	width:293px;
	padding:2px;
}

select#multiselect{clear:both!important;}

.button_to_add{
	float:left;
	margin-left:2px;
}

a.tracker_add_button{
	padding-left: 5px;
	display:none;
}
a.tracker_add_button_conf{
	line-height: 17px;
	clear:both;
	margin:3px 0;
}

.CodeMirror-scroll{
	line-height:25px;
	font-size:15px;
	height:350px!important;
}
.CodeMirror-atw {position:relative;padding:0!important;}
.CodeMirror-atw img {
position:absolute;top:0;left:0;width:100%;height:100%;z-index:10000;
}
.category_picker{
	display:visible;
	width:auto;
	clear:both;
}
span.button_id_customer { clear: both; }
span.button_total_with_shipping_with_tax{clear: both;}
span.button_total_with_shipping_without_tax{clear: both;}
.ui-multiselect{width:615px!important;}
.selected{width:304px!important;}
.available{width:310px!important;}



p#progressSyncProductRemainingTime {
	float: left;
	margin-left: 15px;
	line-height: 41px;
	font-weight: bold;
}
p#progressSyncProduct { float: left; }


.progressBar{
	width:216px;
	height:41px;
	background:url(../img/bg_bar.gif) no-repeat 0 0;
	position:relative;
}
.progressBar span{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../img/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}
.progressBar em{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../img/bg_cover.gif) repeat-x 0 0;
	top:0;
}