<div class="cybersourcePayment payment_div2 col-xs-12">
	<div class="payment_module">
		<a class="cybersourceLink" style="display:none;" href="{$link->getModuleLink('cybersource', 'redirect')|escape:'html'}" title="{l s='Pay by Visa / Master' mod='cybersource'}">
      {l s='Pay by Visa / Master' mod='cybersource'}
    </a>
		<div>
      <span class="inline"><input type="radio" id="cybersourcerad" name="paymenttype" value="cybersource" checked="checked" /></span>
      <span class="inline"><img class="img-responsive" title="Credit Card/ Debit Card" src="{$this_path_cs}credit.png" /></span>
    </div>
	</div>
</div>
