/**
 * NOTICE OF LICENSE
 *
 * This file is licenced under the Software License Agreement.
 * With the purchase or the installation of the software in your application
 * you accept the licence agreement.
 *
 * You must not modify, adapt or create derivative works of this source code
 *
 * @author    Musaffar Patel
 * @copyright 2016-2017 Musaffar Patel
 * @license   LICENSE.txt
 */

#pbp-product-tabs {
	margin-top:0px;
	margin-bottom: 30px;
}

#pbp-product-tabs .tab-links {
	border-bottom:4px #e6e6e6 solid;
}

#pbp-product-tabs .tab-links a {
	display: inline-block;
	background-color: #fff;
	border:1px solid #ccc;
	border-bottom:none;
	color:#666;
	padding: 15px 50px;
	cursor: pointer;
	border-top-left-radius:3px;
	border-top-right-radius: 3px;
}

	#pbp-product-tabs .tab-links a.active {
		background-color: #f1f1f1;
		color: #333;
		font-size:14px;
		font-weight:bold;
	}



	#pbp-product-tabs .tab-content {
		margin-top:0px;
	}

	#pbp-product-tabs .tab-content {
		overflow-y:scroll;
		background-color:#f1f1f1;
	}

	#pbp-product-tabs .bundle {
		overflow:hidden;
		position: relative;
		padding:15px;
		margin-top:15px;
	}

	#pbp-product-tabs .bundle .content {
		background-color:#fff;
		overflow:hidden;
		padding:15px;
	}

	#pbp-product-tabs .bundle-title {
		color: #636363;
		font-size: 15px;
		font-weight: bold;
		display: block;
		margin: 0;
		padding:10px 0;
		min-height:4em;
	}

	#pbp-product-tabs .bundle-title .product-title {
		color:#282828;
	}

	#pbp-product-tabs .bundle .bundle-total {
		color:#575757;
		font-weight: bold;
		font-size:20px;
		width:100%;
		text-align: center;
		margin-bottom:4px;
	}

	#pbp-product-tabs .bundle .parent {
		float: left;
		border: 1px solid #6a7ea4;
		width:85px;
	}

	@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
		#pbp-product-tabs .bundle .parent {
			width:55px;
		}
	}

	#pbp-product-tabs .bundle .parent img {
			width:100%;
		}

		#pbp-product-tabs .bundle-products {
			float: left;
			padding-left: 40px;
			position: relative;
			width:60%;
		}

	#pbp-product-tabs .bundle-products:before {
			content: "\f067";
			font-family: "FontAwesome";
			font-size: 24px;
			line-height: 20px;
			height: 20px;
			position: absolute;
			left: 10px;
			top: 40px;
			color:#ff7f00;
	}

	@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {

		#pbp-product-tabs .bundle-products {
			padding-left:20px;
		}

		#pbp-product-tabs .bundle-products:before {
			font-size:16px;
			top:17px;
			left:5px;
		}
	}

		#pbp-product-tabs .bundle-product {
			overflow:hidden;
			padding-bottom:10px;
			width:100%;
		}

		#pbp-product-tabs .bundle-product .image {
			width: 85px;
			float: left;
			border:1px solid #6a7ea4;
		}

		@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
			#pbp-product-tabs .bundle-product .image {
				width:55px;
			}
		}

		#pbp-product-tabs .bundle-product .image img {
				width:100%;
				height:100%;
			}

		#pbp-product-tabs .bundle-product .info {
			width:65%;
			float:left;
			padding-left:10px;
			padding-top:20px;
		}

		@media only screen and (max-device-width: 1024px) {
			#pbp-product-tabs .bundle-product .info {
				padding-top:0;
			}
		}

		#pbp-product-tabs .bundle-product .pbp-discount, #pbp-product-tabs .bundle-product .pbp-discount-amount {
			font-size: 16px;
			font-weight: bold;
		}

		@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
			#pbp-product-tabs .bundle-product .pbp-discount, #pbp-product-tabs .bundle-product .pbp-discount-amount {
				font-size:13px;
			}
		}

		#pbp-product-tabs .bundle-product .pbp-discount {
			color: #575757;
			display: block;
			margin-bottom:4px;
		}

		#pbp-product-tabs .bundle-product .pbp-discount-amount {
			color:#ff7f00;
		}

		/* Add to cart */
		#pbp-product-tabs .box-info-product {
			width:20%;
			float:right;
			overflow:hidden;
			border:none;
			background:none;
		}

		#pbp-product-tabs .exclusive {
			width:100%;
			bottom:0;
			right:0;
		}

		#pbp-product-tabs .exclusive:before {
			display:none;
		}

	#pbp-product-tabs .exclusive:after {
		background: none;
	}

	#pbp-product-tabs .exclusive span {
		padding:10px 0;
		font-size:14px;
		text-align: center;
	}

	@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {

		#pbp-product-tabs .exclusive span {
			font-size:12px;
		}
	}

/*** Under product description (description-after) ****/



#pbp-product-tabs.description-after .bundle-products {
	width:70%;
	padding-left:35px;
}

#pbp-product-tabs.description-after .bundle {
	width:100% !important;
}

#pbp-product-tabs.description-after .parent {
	width:50px;
}

#pbp-product-tabs .bundle-products:before {
	top:15px;
	font-size:18px;
	line-height:16px;
}

#pbp-product-tabs.description-after .bundle .image {
	float: none;
	display: block;
	width:50px;
}

#pbp-product-tabs.description-after .bundle .info {
	width:100% !important;
	float: none !important;
	display: block;
	padding-left: 0px !important;
	padding-top:10px;
}

	#pbp-product-tabs.description-after .pbp-discount {
		font-size:12px !important;
	}

	#pbp-product-tabs.description-after .pbp-discount-amount {
		font-size: 12px !important;
	}

#pbp-product-tabs.description-after .box-info-product {
	width: 100%;
	float: none;
	display: block;
}



/* for template with parent product attributes */
#pbp-product-tabs.pbp_display_attr .parent {
	width:100%;
	float: none;
	text-align: center;
	border: none;
	padding-bottom:20px;
	border-bottom: 1px solid #ccc;
}

	#pbp-product-tabs.pbp_display_attr .parent img {
		width:50%;
		max-width:150px;
		display: block;
		margin: 0 auto;
	}

	#pbp-product-tabs.pbp_display_attr .parent .parent-product-name {
		font-weight: bold;
		display: block;
		font-size:14px;
	}

	#pbp-product-tabs.pbp_display_attr .parent select {
		padding:5px;
		margin-top:12px;
	}

	#pbp-product-tabs.pbp_display_attr .bundle-products {
		padding-left:0px;
		width:100%;
		float: none;
	}

	#pbp-product-tabs.pbp_display_attr .bundle-products:before {
		left: 50%;
		top:-15px;
		margin-left:-15px;
		background-color:#ff7f00;
		color:#fff;
		width:30px;
		height:30px;
		border-radius:15px;
		line-height:30px;
		text-align: center;
	}

	#pbp-product-tabs.pbp_display_attr .bundle-product {
		margin:20px 0;
		padding:20px 0;
		width: 100%;
		float: left;
	}

	@media screen and (min-width: 1200px) {
		#pbp-product-tabs.pbp_display_attr .bundle-product {
			width:50%;
		}
	}

	#pbp-product-tabs.pbp_display_attr .box-info-product {
		width:100%;
		float: none;
	}


	/*****  Mobile *******/

@media only screen and (max-device-width: 769px) {

	#pbp-product-tabs .bundle {
		padding:0 !important;
	}

	#pbp-product-tabs .box-info-product {
		clear: both;
		float: none;
		width: 100%;
	}

	#pbp-product-tabs .bundle .parent {
		width: 75px;
	}

	#pbp-product-tabs .bundle-products {
		padding-left: 35px;
		width: 60%;
	}

	#pbp-product-tabs .bundle-product .image {
		width: 75px;
	}

	#pbp-product-tabs .bundle-product .info {
		width: 67%;
		padding-left: 10px;
		padding-top: 5px;
	}

	#pbp-product-tabs .bundle-product .info * {
		font-size:14px !important;
	}

}





