{**
 *  2016 ModuleFactory.co
 *
 *  @author    ModuleFactory.co <info@modulefactory.co>
 *  @copyright 2016 ModuleFactory.co
 *  @license   ModuleFactory.co Commercial License
 *}

<script type="text/javascript">
    var FSAU = FSAU || { };
    FSAU.menu_button_text = '{$fsau_admin_css_js.menu_button_text|escape:'html':'UTF-8'}';
    FSAU.menu_button_url = '{$fsau_admin_css_js.menu_button_url|escape:'html':'UTF-8'}';
    FSAU.params_hash = '{$fsau_admin_css_js.params_hash|escape:'html':'UTF-8'}';
</script>
<script type="text/javascript" src="{$fsau_admin_css_js.module_path|escape:'html':'UTF-8'}views/js/admin.js"></script>