{**
 *  2016 ModuleFactory.co
 *
 *  @author    ModuleFactory.co <info@modulefactory.co>
 *  @copyright 2016 ModuleFactory.co
 *  @license   ModuleFactory.co Commercial License
 *}

<div class="hint" style="display:block;">
    {l s='Before you start the generation process, please save the schema' mod='fsadvancedurl'}
</div>
<br />
<a href="javascript:;" onclick="FSAU.generateProductLinkRewrite();" class="button">
    {l s='Generate' mod='fsadvancedurl'}
</a>
<div style="clear:both;"></div><br />