{**
 *  2016 ModuleFactory.co
 *
 *  @author    ModuleFactory.co <info@modulefactory.co>
 *  @copyright 2016 ModuleFactory.co
 *  @license   ModuleFactory.co Commercial License
 *}

<div class="col-lg-9">
    <div class="progress fsau_progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="width:0%;" id="fsau_product_link_rewrite_progress_bar">
        </div>
    </div>
</div>