{*
<h3 id="#idTab5" class="idTabHrefShort page-product-heading">{l s='Reviews' mod='productcomments'}</h3>
*}
<li><a data-toggle="tab" href="#idTab5" class="idTabHrefShort">{l s='Reviews' mod='productcomments'}</a></li>
			