#search_block_top {
    position: absolute;
    left: 190px;
    z-index: 99;
    padding: 0;
    top: -61px;
    width: 50%;
}
#search_block_top #searchbox {
	float: left;
	width: 100%;
}
#search_block_top .btn.button-search {
	background: #d81920;
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
	color: #fff;
	width: 50px;
	text-align: center;
    padding: 9px 0 9px 0;
    border-radius: 5px;
}
#search_block_top .btn.button-search span {
	display: none;
}
#search_block_top .btn.button-search:before {
	content: "\f002";
	display: block;
	font-family: "FontAwesome";
	font-size: 15px;
	width: 100%;
	text-align: center;
}
#search_block_top .btn.button-search:hover {
	color: #eaeaea;
}
#search_block_top #search_query_top {
	display: inline;
padding: 10px 60px 10px 13px;
	height: 50px;
	background: #fbfbfb;
	margin-right: 1px;
    border: 1px solid #d81920;
	font-family:"Open Sans";
	border-radius:5px;
}
.ac_results {
	background: #fff;
	border: 1px solid #d6d4d4;
	width: 271px;
	margin-top: -1px;
}
.ac_results li {
	padding: 0 10px;
	font-weight: normal;
	color: #686666;
	font-size: 13px;
	line-height: 22px;
}
.ac_results li.ac_odd {
	background: #fff;
}
.ac_results li:hover, .ac_results li.ac_over {
	background: #fbfbfb;
}
form#searchbox {
	position: relative;
}
form#searchbox label {
	color: #333;
}
form#searchbox input#search_query_block {
	margin-right: 10px;
	max-width: 222px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
}
form#searchbox .button.button-small {
	float: left;
}
form#searchbox .button.button-small i {
	margin-right: 0;
}

/*# sourceMappingURL=blocksearch.css.map */
