.cms-category {
	font-weight: bold !important;
	font: normal 14px "Open Sans", Helvetica, Arial, sans-serif
}
.sf-menu > li > ul > div > li > a.cms-category:hover,
.sf-menu > li > ul > div > li li > a.cms-category:hover
 {
	background-color: #fff;
}
.sf-menu > li > ul > div > li li > a.cms-category:hover {
color: #777;
}
 @media (max-width: 767px) {
 header .nav {
 padding: 6px 0 6px 0!important;
}
 #block_top_menu {
 position: absolute;
top: -62px;
 left: -3px;
 padding: 0;
 width: auto;
}
 .menu-active #block_top_menu {
 left: calc(-100% + 70px)!important;
 position: relative!important;
}
 .cat-title {
 height: 56px;
 width: 40px;
 z-index: 999;
}
 .menu-active .cat-title {
 left: calc(100vw - 70px)!important;
 position: fixed;
 top: 7px;
}
 .cat-title:after {
 display: block;
 font-family: "FontAwesome";
 content: "\f0c9";
 position: absolute;
 right: 5px;
 top: 18px;
 font-size: 23px;
 font-weight: 100;
}
 .cat-title.active:after {
 content: "\f0c9";
}
 .sf-menu {
 position: fixed;
 top: 0;
 left: 0;
 width: calc(100vw - 70px);
 -webkit-animation: slide 0.5s forwards;
 -webkit-animation-delay: 2s;
 animation: slide 0.5s forwards;
 animation-delay: 2s;
}
 .sf-menu > li span:after {
 content: "\f078";
 color: #f9f9f9;
 font-size: 14px;
}
 .sf-menu > li span.active:after {
 content: "\f077";
}
 .menu-active {
 padding-left: calc(100vw - 70px);
 background:#2b2e32;
 width: calc(200% - 70px);
 -webkit-animation: slide 0.5s forwards;
 -webkit-animation-delay: 2s;
 animation: slide 0.5s forwards;
 animation-delay: 2s;
}
 .nav {
 display: none;
}
 .menu-active .nav {
 display: block;
 position: fixed;
 top: 0;
 left: 0;
 width: calc(100vw - 70px);
}
}
