/*** ESSENTIAL STYLES ***/

 @media (min-width: 768px) {
.sf-menu > li > ul {
 border-top: 4px solid #d71920;
 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
}
.sf-contener {
	clear: both;
	float: left;
	width: 100%;
}
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	position: relative;
	padding: 0;
	width: 100%;/*border-bottom: 3px solid #e9e9e9;
  background: #f6f6f6;*/
}
 @media (max-width: 767px) {
 .sf-menu {
 display: none;
}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background: #fff;
}
 @media (max-width: 767px) {
 .sf-menu ul {
 position: relative;
}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit;/* fixes IE7 'sticky bug' */
}
.sf-menu > li {
	float: left;
 
}
 @media (max-width: 767px) {
 .sf-menu > li {
 float: none;
 position: relative;
 border-right: none;
 border-bottom: 1px solid #0c0c0c;
 border-top:none!important;
}
 .sf-menu > li span {
 position: absolute;
 right: 6px;
 top: 20px;
 width: 30px;
 height: 30px;
 z-index: 2;
}
 .sf-menu > li span:after {
 font-family: "FontAwesome";
 content: "\f067";
 font-size: 26px;
}
 .sf-menu > li span.active:after {
 content: "\f068";
}
}
.sf-menu > li > a {
	/*font: 600 18px/22px "Open Sans", sans-serif;
    text-transform: uppercase;
    border-bottom: 3px solid #e9e9e9;*/
    font-size: 15px;
	text-transform: capitalize;
	color: #fff;
	display: block;
	padding: 17px 20px;
}
 @media (min-width: 767px) {
 .sf-menu > li:first-child > a {
 padding-left: 0;
}
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
/*background: #333;
    border-bottom-color: #666666;*/
 }
.sf-menu li li li a {
	display: block;
	position: relative;
	font-size: 12px !important;
	line-height: 30px;
	padding-left: 10px;
	margin-left: 5px;
	margin-right: 20px;
}
/*.sf-menu li li li a:before {
        content: "\f105";
        display: inline-block;
        font-family: "FontAwesome";
        padding-right: 10px;
    }*/

    .sf-menu li li li a:hover {
	background-color: #dfdfdf;
}
#block_top_menu .sf-menu li>ul>div {
    min-width: 300px;
}
.sf-menu li ul {
	display: none;
	/*left: 0;*/
	top: 52px;
	/* match top ul list item height */
    z-index: 99;
	padding: 12px 0px 18px 0px;
}
 @media (max-width: 767px) {
 .sf-menu li ul {
 top: 0;
}
 .sf-menu > li > ul {
border-top:none!important;
border:none!important;
}
}
.sf-menu li li ul {
	position: static;
	display: block !important;
	opacity: 1 !important;
	background: none;
	-moz-box-shadow: transparent 0px 0px 0px;
	-webkit-box-shadow: transparent 0px 0px 0px;
	box-shadow: transparent 0px 0px 0px;
	border: 0;
	padding: 0;
}
/*.sf-menu li li li ul {
	padding: 0 0 0 20px;
}*/
.sf-menu li li li ul {
	width: 220px;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 200px;
	/* match ul width */
    top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 200px;
	/* match ul width */
    top: 0;
}
.sf-menu > li > ul {
	padding: 10px 15px;
	/*width: 100%;*/
}
.sf-menu > li > ul > div > li > a {
	/*
    text-transform: uppercase;
    font: 600 16px/20px "Open Sans", sans-serif;
    */
        font: normal 12px "Open Sans", Helvetica, Arial, sans-serif;
	color: #333;
	line-height: 30px;
	padding-left: 10px;
	margin-right: 20px;
	display: block;
}
.sf-menu > li > ul > div > li > a:hover {
	/*color: #515151;*/
            background-color: #dfdfdf;
}
.sf-menu > li > ul > li {
	/*float: left;
  width: 20%;*/
        padding-right: 15px;
}
 @media (max-width: 767px) {
 .sf-menu > li > ul > li {
 width: 50%;
}
}
 @media (max-width: 479px) {
 .sf-menu > li > ul > li {
 width: 100%;
 padding-bottom: 20px;
}
}
 @media (min-width: 768px) {
 .sf-menu > li > ul > li.first-in-line-lg {
 clear: left;
}
}
 @media (min-width: 480px) and (max-width: 767px) {
 .sf-menu > li > ul > li.first-in-line-xs {
 clear: left;
}
}
.sf-menu > li > ul > li.category-thumbnail {
	width: 100% !important;
	float: none;
	clear: both;
	overflow: hidden;
	padding-right: 0;
}
.sf-menu > li > ul > li.category-thumbnail > div {
	float: left;
	padding-left: 10px;
	width: 33.333%;
}
 @media (max-width: 479px) {
 .sf-menu > li > ul > li.category-thumbnail > div {
 width: 100%;
 padding-left: 0;
 padding-top: 10px;
 text-align: center;
}
}
.sf-menu > li > ul > li.category-thumbnail > div:first-child {
	padding-left: 0;
}
.sf-menu > li > ul > li.category-thumbnail > div img {
	max-width: 100%;
	display: block;
}
.cat-title {
	display: none;
}
 @media (max-width: 767px) {
 .cat-title {
 display: block;
 font: 600 18px/22px "Open Sans", sans-serif;
 text-transform: uppercase;
 color: #fff;
 display: block;
 padding: 17px 20px;
        /*border-bottom: 3px solid #e9e9e9;*/
    background: #d71920;
 position: relative;
}
 .cat-title:hover {
 background: rgb(216, 25, 32);
 color: #fff;
}
 .cat-title:after {
 display: block;
 font-family: "FontAwesome";
 content: "\f067";
 position: absolute;
 right: 15px;
 top: 18px;
 font-size: 26px;
}
 .cat-title.active:after {
 content: "\f068";
}
}
.sf-menu li.sf-search {
	border: none;
}
.sf-menu li.sf-search input {
	display: inline;
	padding: 0 13px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	margin: 13px 10px 0 0;
	font-size: 13px;
	color: #9c9b9b;
	border: 1px solid #d6d4d4;
}
#block_top_menu .category-thumbnail {
	clear: both;
	width: 100%;
	float: none;
}
#block_top_menu .category-thumbnail div {
	float: left;
	width: 33.33333%;
}
#block_top_menu .category-thumbnail div img {
	max-width: 100%;
}
#block_top_menu li.category-thumbnail {
	padding-right: 0;
}
#block_top_menu li a.level2menu {
	font-size: 14px;
	font-weight: 700;
}
#block_top_menu li a.level2menu:hover {
	background: none;
	color: #d71920;
}
/*# sourceMappingURL=superfish-modified.css.map */
