
.select-arrow {
    display: none;
}
.content_tab article{
    float: left;
}
.content_element.hidden{
    display: none;
}
.wrap_header_tap{
    float: left;
}
.wrap_header_tap ul {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
.search_block_results a.ets_link_see {
    display: block;
    margin: -5px -10px;
    padding: 5px 10px;
}
.search_review .icon_star svg, .search_review .icon_star-half svg {
    height: 16px;
}
.ybc_search_page_content .content_tab {
    display: flex;
    flex-wrap: wrap;
}
.ybc_search_page_content .content_tab.loadding .content_tab_product {
    opacity: 0.5;
}
.content_tab.loadding:before,
.content_tab.loading:before {
    content: "";
    display: flex!important;
    display: -webkit-flex;
    font-family: FontAwesome, sans-serif;
    font-size: 36px;
    position: absolute;
    -webkit-animation: spiner_loading 0.8s infinite linear;
    animation: spiner_loading 0.8s infinite linear;
    left: 50%;
    top: 50%;
    z-index: 1001;
    margin-left: -20px;
    margin-right: -20px;
    width: 40px;
    height: 40px;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
@-webkit-keyframes spiner_loading {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spiner_loading {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.wrap_header_tap ul li {
    float: left;
    margin: 0 5px 0 15px;
}
a.ets_link_see:after {
    content: "\f178";
    font-family: Fontawesome, sans-serif;
    margin-left: 6px;
    font-weight: normal;
}
.wrap_content.hidden{
    display: none;
}
.wrap_header_tap {
    float: left;
    width: 100%;
}
.title_group span.total {
    border: none;
    background: #fff;
    padding: 0 5px;
    width: 30px;
    font-weight: 600;
    height: 30px;
    text-align: center;
    border-radius: 0;
    margin-right: 10px;
    color: #fff;
    line-height: 30px;
    display: inline-block;
    float: left;
    margin-top: 3px;
    font-size: 12px;
}
a.ets_link_see {
    color: #fff!important;
    font-weight: 600;
    outline: none!important;
    text-decoration: none!important;
}
.search_block_results .autocomplete-suggestion ul,
.search_block_results .autocompletenew-suggestion ul{
    margin-bottom: -1px;
}

.wrap_header_tap ul li a {
    padding: 4px 14px;
    display: inline-block;
    border-radius: 0;
    outline: none!important;
    position: relative;
    text-decoration: none!important;
}
.content_tab_cms .right_item p.item_short_des {
    margin-bottom: 0;
}
p.item_count_product {
    font-style: italic;
    color: #999;
}
.content_tab_cms .right_item a {
    margin-bottom: 7px;
    display: block;
}
.wrap_header_tap ul li.active a {
    background-color: #2fb5d2;
    color: #fff;
}
.wrap_header_tap ul li.active a span{
    color: #fff;
}
#search_query_top:active, #search_query_top:focus {
    color: #929292;
}
.content_tab_category .item a, .content_tab_category .item a img {
    max-width: 100%;
}
input#search_query_top:active::-moz-placeholder {
    color: #929292;
}
input#search_query_top:active::-webkit-input-placeholder {
    color: #929292;
}

.nice-select.searched_category:focus,
.nice-select.searched_category:active {
    outline: none !important;
    box-shadow: none !important;

}

#search_block_top #searchbox {
    float: left;
    position: relative;
    width: 100%;
}

.has-categories-dropdown .table {
    display: table;
    margin: 0;
    width: 100%;
}
.content_tab_manufacturer .left_item {
    float: left;
    width: 100px;
    margin-right: 20px;
}
.content_tab_manufacturer .item span.title {
    margin-bottom: 5px;
    display: block;
}
.content_tab_manufacturer .left_item img {
    max-width: 100%;
}
.content_tab_category .left_item img {
    margin-bottom: 15px;
}
.content_tab_category .right_item span.title,
.content_tab_catBlock .right_item span.title {
    margin-bottom: 10px;
    display: block;
}
.content_tab_manufacturer p.item_short_des {
    margin-bottom: 5px;
}
.content_tab_manufacturer .item_count_product {
    margin-bottom: 0;
}
.content_tab_manufacturer .item,
.content_tab_manufacturer .item .item-content{
    display: flex;
    display: -webkit-flex;
}
#search_block_left {
    background: #fff none repeat scroll 0 0;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1.563rem;
    padding: 1.563rem 1.25rem;
}

.has-categories-dropdown .table-cell {
    display: table-cell;
    vertical-align: top;
}

#search_block_top .btn.button-search {
    background: #000000 none repeat scroll 0 0;
    border: medium none;
    color: #c6c6c6;
    display: block;
    float: left;
    height: 40px;
    min-width: 40px;
    padding: 10px 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    width: 40px;
}

#search_query_top:focus {
    border-color: #ccc;
    box-shadow: none;
}

#search_block_top .btn.button-search:hover {
    background: #fc5656;
}

#search_block_top .btn.button-search span {
    display: none;
}

#search_block_top .btn.button-search::before {
    color: #fff;
    content: "\f002";
    display: block;
    font-family: "FontAwesome",sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.search_review span.icon_star path {
    color: orange;
}

.search_review span.icon_star,
.search_review span.icon_star-half {
    width: 14px;
    display: inline-block;
    margin-bottom: 0;
}
#search_block_top .btn.button-search:hover {
    color: #727473;
}

#search_block_top.has-categories-dropdown #search_query_top {
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: medium none;
    border: 1px solid #d0d0d0;
}

#search_query_top {
    background-color: #fff;
    float: left;
    font-size: 13px;
    height: 40px;
    padding: 5px 50px 5px 10px;
    width: 100%;
}
/*
.ac_results {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D4D4;
    left: 0 !important;
    margin-top: -1px;
    overflow: hidden;
    position: absolute !important;
    top: 100% !important;
    width: 100% !important;
    z-index: 9999;
}

.ac_results > ul {
    margin-bottom: 0;
}

.ac_results li {
    border-bottom: 1px solid #F7F7F7;
    color: #686666;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
    padding: 2px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ac_results li.ac_odd {
    background: #fff;
}

.ac_results li:hover, .ac_results li.ac_over {
    background: #F6F6F6;
}
*/
form#searchbox {
    position: relative;
}

form#searchbox label {
    color: #333;
}

form#searchbox input#search_query_block {
    background-color: #fff;
    display: inline-block;
    float: left;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 0;
    max-width: 222px;
    padding: 0 50px 0 10px;
}

form#searchbox .button.button-small {
    background-color: #000;
    color: #fff;
    float: left;
    height: 40px;
    max-height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
}

form#searchbox .button.button-small i {
    margin-right: 0;
}

#searchbox > select {
    background-color: transparent;
    border: 1px solid #E7E7E7;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #888888;
    float: left;
    height: 40px;
    margin-right: -1px;
    padding: 10px 10px 10px 2px;
    position: absolute;
    right: 100%;
    width: 45%;
}

.select-arrow {
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    height: 40px;
    position: absolute;
    right: 100%;
    width: 30px;
    z-index: 11;
    pointer-events: none;
}

.select-arrow:before {
    content: "\f0d7";
    font-family: FontAwesome, sans-serif;
    line-height: 40px;
    text-align: left;
    padding-left: 3px;
    width: 100%;
    color: #ccc;
    font-size: 16px;
    float: left;
}
ul.pagination_search {
    width: 100%;
    text-align: center;
    display: flex;
    padding: 20px 0;
    justify-content: center;
}
ul.pagination_search li {
    display: inline-block;
    padding: 0;
    width: 32px;
    background: #fff;
    height: 32px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    line-height: 29px;
    color: #666;
    float: left;
    margin-right: -1px;
}
ul.pagination_search li:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
ul.pagination_search li:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.pagination_search li * {
    color: #888;
}
ul.pagination_search li.disabled a{
    cursor: not-allowed;
}
ul.pagination_search li.active a {
    color: #2EB5D0;
}
@media (max-width: 767px) {
    #search_block_top {
        margin-top: 24px;
        margin-left: 0;
        margin-right: 0;
    }
}
/* new style */
.box_minchar{
    float: left;
    width: 100%;
    position: relative;
}
.minchar_type{
    position: absolute;
}
div#search_block_results,
div#search_block_keyword{
    position: absolute;
    z-index: 1000;
    background: transparent;
    top: 100%;
    padding: 0;
    border: none;
    margin-top: 20px;
    left: 0;
    width: 100%;
}
div#search_block_results .autocomplete-suggestions, div#search_block_keyword .autocompletenew-suggestions {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: none;
    border-right: none;
    display: block;
    top: auto!important;
    left: auto!important;
    width: 100%!important;
    position: relative;
}
.minchar_type {
    padding: 10px;
    position: absolute;
    color: #f17421;
    font-size: 12px;
    width: 100%;
    display: none;
    background: #fff;
    border: 1px solid rgba(0,0,0,.25);
    margin-top: -1px;
}
input#search_query_top.ybc_search_query {
    outline: none!important;
}

.minchar_type.active{
    display: block;
}
.view_number_show {
    margin-bottom: 30px;
    color: #777;
    padding-left: 0;
    width: 100%;
}
div#search_block_results .autocomplete-suggestions:before,
div#search_block_keyword .autocompletenew-suggestions:before{
    content: "";
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid transparent;
    position: absolute;
    bottom: 100%;
    background: #f7f7f7;
    opacity: 0;
    width: 14px;
    left: 30px;
    transform: rotate(41deg) skewY(12deg);
    -webkit-transform: rotate(41deg) skewY(12deg);
    height: 14px;
    margin-bottom: -6px;
}
.search_block_results li {
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    clear: both;
    float: left;
    width: 100%;
    font-size: 14px;
    position: relative;
}
.search_block_results li a {
    position: relative;
}
.search_block_results li:not(:first-child):hover:before {
    opacity: 1;
    visibility: visible;
}
.search_block_results li:not(:first-child):before {
    content: "";
    background: #f5f7fa;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}
.content_tab_blockBlog .left_item {
    width: 250px;
    padding-right: 20px;
    float: left;
}

.content_tab_blockBlog .left_item img {
    max-width: 100%;
}

.content_tab_blockBlog .item {
    display: block;
    clear: both;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.content_tab_blockBlog .right_item {}

.content_tab_blockBlog .right_item a {
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
    text-transform: uppercase;
}

.content_tab_blockBlog .right_item .item_short_des {
    line-height: 1.7;
    margin-bottom: 0;
}

.ybc_search_page_content .content_tab {
    background: #fff;
}

.ybc_search_page_content .content_tab .wrap_content{
    padding: 30px 15px 15px;
}

.ybc_search_page_content .content_tab .wrap_content.wrap_content_product{
    padding: 30px 0;
}

.ybc_search_page_content .content_tab  .wrap_content.wrap_content_product .view_number_show{
    padding: 0 .625rem;
}

.content_tab_blockBlog .item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.search_block_results a.product_name {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.search_block_results .autocomplete-suggestion ul {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.ybc_search_item_content {
    color: #333;
}
.overlay_search + header {
    position: relative;
    z-index: 10;
}
.search_block_results .content_nodata {
    padding: 15px 20px;
}
.search_block_results .autocomplete-suggestion {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
}
span.title_group {
    display: block;
    padding: 0 0 0 15px;
    color: #777;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    cursor: auto;
    margin: -6px 0;
    line-height: 27px;
    height: 28px;
    position: relative;
    z-index: 1;
}
.wrap_search .wrap_content {
    width: 100%;
}
.content_tab_blockBlock .item {
    width: 100%;
}
.content_tab_blockBlock .item .item_short_des {
    color: #999;
    font-size: 90%;
}
.content_tab_blockBlock .item .right_item {
    padding: 0 15px;
}
.content_tab_blockBlock .content_element .item-content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.content_tab_blockBlock .item a .title {
    color: #666;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}
.content_tab_blockBlock {
}
.content_tab_blockBlock img{
    max-width: 100%;
}
.content_tab_blockBlock .item .left_item {
    margin-bottom: 15px;
    overflow: hidden;
    width: 250px;
}
.content_tab_blockBlock .item .right_item {
    padding: 0 15px;
    width: calc(100% - 250px);
}
.search_block_results .autocomplete-suggestion ul li:last-child {
    border-bottom: none;
}
.content_tab_blockBlock .content_element {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.content_tab_blockBlock .content_element .item-content:last-child {
    border-bottom: none;
}
.search_block_results li.search_result_header {
    border-bottom: none;
    height: 26px;
    background: #f7f7f7;
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    padding-top: 5px;
    width: -webkit-calc(100% + 30px);
    text-transform: uppercase;
    padding-bottom: 5px;
}
.search_block_results img.search-image {
    width: 40px;
    margin-right: 15px;
    float: left;
}
.search_block_results .box_button_see {
    display: block;
    padding: 5px 10px;
    color: #999;
    font-size: 14px;
    background: #f7f7f7;
    cursor: auto;
    line-height: 28px;
    margin-bottom: -1px;
    text-align: center;
    border-top: 1px solid #eee;
}
.search_block_results .item_shor_des {
    font-size: 13px;
    color: #777;
}
.search_block_results .box_price {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 5px;
}
form#ybc_searchbox {
    display: block;
    position: relative;
    outline: none!important;
}
div#search_block_top {
    position: static;
}
.overlay_search:before {
    position: fixed;
    background: rgba(0,0,0,0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 10;
    display: none;
}
.overlay_search.active:before {
    display: block
}
h2#js-product-list-header {
    text-align: center;
    font-weight: 600;
    font-size: 1.875em;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.wrap_search .wrap_header_tap {
    border: 1px solid #ddd;
    background: #fff;
    display: flex;
    clear: both;
    min-height: 44px;
    margin-bottom: 30px;
}
.wrap_search {
    position: relative;
}
#module-ybc_blocksearch-search div#content-wrapper {
    padding: 0;
}
.action_view {
    position: absolute;
    right: 11px;
    top: 11px;
}
.content_tab_category .item,
.content_tab_manufacturer .item,
.content_tab_cms .item,
.content_tab_catBlock .item{
    clear: both;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.content_tab_category .item:last-child,
.content_tab_manufacturer .item:last-child,
.content_tab_cms .item:last-child,
.content_tab_catBlock .item:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.content_tab_category .item .title, .content_tab_manufacturer .item .title, .content_tab_cms .item .title {
    font-weight: 600;
    margin-bottom: 10px;
}
ul.pagination_search li a {
    display: block;
}
.wrap_search .content_tab {
    clear: both;
    margin-bottom: 60px;
}
.content_tab_product.list .product-miniature {
    width: 100%;
    margin: 0;
}
.content_tab_product.list .product-miniature .thumbnail-container img {
    position: static;
}
.content_tab_product.list .product-miniature .thumbnail-container {
    width: 100%;
    text-align: left;
    height: auto;
    display: flex;
}
.content_tab_product.list .product-miniature {
    width: 100%;
    margin: 0;
}
.search_block_results .box_price .regular-price {
    text-decoration: line-through;
    margin-right: 7px;
    color: #666;
}
.search_block_results .box_price .regular-price ~ span {
    color: #a90404;
}

.content_tab ul.product-flags {
    width: auto;
}
.content_tab_product.list .product-miniature .thumbnail-container .highlighted-informations {
    background: #fff;
    box-shadow: none;
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 0 15px;
    line-height: 40px;
    top: 50%;
    left: 60px;
    margin-top: -20px;
    opacity: 0;
    visibility: hidden;
}
.content_tab_product.list .product-miniature:hover .thumbnail-container .highlighted-informations {
    opacity: 1;
    visibility: visible;
}
.content_tab_product.list .product-miniature .thumbnail-container .product-description:after{
    display: none!important;
}
.content_tab_product.list .product-price-and-shipping {
    text-align: left!important;
}
.content_tab_product.list .product-miniature .thumbnail-container .product-description {
    width: auto;
    position: static;
    text-align: left;
    height: auto;
    padding-left: 20px;
}
.search_block_results .product-list-reviews > div {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    padding-bottom: 2px;
}
.search_block_results .product-list-reviews {
    position: static;
    display: table;
    white-space: nowrap;
    width: auto;
    padding: 0;
    background: transparent;
    top: auto;
}
.search_block_results .product-list-reviews .star-content {
    margin-left: 0;
}
.content_tab.loading:after{
    content: "";
    display: flex!important;
    display: -webkit-flex;
    font-family: FontAwesome, sans-serif;
    font-size: 36px;
    position: absolute;
    -webkit-animation: loading 0.8s infinite linear;
    animation: loading 0.8s infinite linear;
    left: 50%;
    top: 50%;
    z-index: 10;
    margin-left: -20px;
    margin-right: -20px;
    width: 40px;
    height: 40px;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.content_tab.loading .wrap_content,
.content_tab.loadding .wrap_content {
    opacity: 0.3;
}
.action_view a {
    color: #999;
    border-radius: 2px;
    margin-left: 8px;
    border: 1px solid #ddd;
    line-height: 1;
    float: left;
    padding: 2px 3px;
}
.action_view a.active, .action_view a:hover {
    color: #2fb5d2;
    border-color: #2fb5d2;
    font-weight: normal;
}
.wrap_content_product form label {
    display: none;
}
.wrap_content_product form select#ybc_search_sort_by_product {
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0 15px 0 10px;
    height: 30px;
    outline: none!important;
    box-shadow: none!important;
}
.wrap_content_product form {
    position: absolute;
    right: 15px;
    top: 10px;
}
.wrap_content_product form:before {
    content: "";
    border-top: 5px solid #666;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 6px;
    top: 13px;
    border-radius: 2px;
}
.wrap_header_tap ul li * {
    color: #999;
    font-size: 14px;
}

.search_block_keyword .autocompletenew-suggestion{
    cursor: pointer;
}
.search_block_results .box_price {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
    color: #666;
}
.button-search.active:after{
    content: "";
    position: absolute;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    margin-left: -10px;
    top: 10px;
    animation: loading 0.5s infinite linear;
    -webkit-animation: loading 0.5s infinite linear;
}
.button-search.active:before {
    opacity: 0;
    visibility: hidden;
}
.search_block_results * {
    outline: none!important;
    text-decoration: none!important;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@media (max-width: 991px){
    .content_tab_blockBlock .item {
        width: 33.33%;
    }
}
@media (min-width: 768px){
    .wrap_content_product form select#ybc_search_sort_by_product {
        -webkit-appearance: none;
    }
}
@media (max-width: 767px){
    .content_tab_blockBlock .item {
        width: 50%;
    }
    div#search_block_results, div#search_block_keyword {
        margin-top: 0;
    }
    .wrap_content_product form {
        position: static;
        right: 15px;
        top: 10px;
        margin: 0 auto 15px;
        display: block;
        text-align: center;
    }
    .view_number_show {
        margin-bottom: 20px;
        text-align: center;
    }
    .wrap_content_product form:before{
        display: none;
    }
}
@media (max-width: 479px){
    .content_tab_blockBlock .item {
        width: 100%;
    }
    .content_tab_blockBlog .left_item {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }

}