select.searched_category 
{
  display: none; 
}
.nice-select.searched_category .current {
  float: left;
  max-height: 100%;
  overflow: hidden;
  padding: 0 16px 0 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 13px;
}

.has-categories-dropdown .nice-select {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #d0d0d0;
  color: #929292;
  cursor: pointer;
  float: left;
  height: 40px;
  line-height: 38px;
  margin-right: 0px;
  min-width: 100px;
  padding: 0;
  position: relative;
  width: 100%;
}
.has-categories-dropdown .nice-select {
  border-right: medium none;
}
.ac_results li img {
  height: auto;
  margin-right: 7px;
  max-width: 35px;
}
  /*
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999; }
  */
 
.nice-select .current:after {
  content: "\f107";
  float: right;
    font-family: FontAwesome;
    font-size: 16px;
    font-weight: normal;
    margin-right: 0;
    pointer-events: none;
    position: absolute;
    right: 5px;
}
.nice-select.open .current:after {
  content: "\f106";
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0); }
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none; }
.nice-select.disabled:after {
  border-color: #cccccc; }
.nice-select.wide {
  width: 100%; }
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important; }
.nice-select.right {
  float: right; }
.nice-select.right .list {
  left: auto;
  right: 0; }
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px; }
.nice-select.small:after {
  height: 4px;
  width: 4px; }
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px; }
  
.nice-select .list {
  background-color: #ffffff;
  left: -1px;
  margin-top: 0;
  min-width: 150px;
  width: auto;
  opacity: 0;
  outline: medium none;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  border: 1px solid #d0d0d0;
  transform: scale(0.75) translateY(-21px);
  -webkit-transform: scale(0.75) translateY(-21px);
  -o-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25) 0s, opacity 0.15s ease-out 0s;
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25) 0s, opacity 0.15s ease-out 0s;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important; 
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 30px;
  list-style: outside none none;
  min-height: 30px;
  outline: medium none;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  font-size: 14px;
  float: left;
  width: 100%;
  white-space: nowrap;
  transition: all 0.2s ease 0s;
   -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6; }
.nice-select .option.selected {
  font-weight: bold; 
  
  }

/*# sourceMappingURL=nice-select.css.map */