.ets_search_form >div{
    height: 0;
    overflow: hidden;
}
.ets_search_form >div.active {
    height: auto;
    overflow: unset;
}

.bootstrap .fixed_width_number{
    width: 200px !important;
}
.form-group-wrapper.row_ybc_blocksearch_suggestion_form {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
input#YBC_BLOCKSEARCH_MINCHART {
    min-width: 160px;
}
.bootstrap .btn-group-action .btn-group>a:first-child {
    margin-right: 0;
    float: left;
}
.ybc_miss_product strong{
    color: red;
}
.ybc_search_alert{
    position: fixed;
    right: 30px;
    top: 50px;
    z-index: 9999;
}
a.ybc_add_keyword i {
    font-size: 12px;
    font-weight: normal;
}
a.ybc_add_keyword.btn.is_load i:after {
    border-width: 1px;
    width: 14px;
    height: 14px;
    top: 0;
    left: 7px;
}
ul.ets_search_form_tab {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    white-space: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    width: 100%;
    justify-content: center;
    -webkit-justify-content: center;
}
.ets_search_form_general .translatable-field {
    display: flex;
    display: -webkit-flex;
}
.ets_search_form_general .translatable-field .col-lg-9 {
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
}
.ets_search_form_general .translatable-field .col-lg-2 {
    width: 60px;
}
.ets_search_form_general .translatable-field .col-lg-9 input {
    margin-top: 0;
}
.ets_search_form_tab_div .header_search_tab {
    padding: 10px 20px 0!important;
    height: auto!important;
    min-height: 42px;
    color: #2eacce!important;
    font-size: 36px!important;
    text-align: center!important;
    text-transform: uppercase!important;
    font-weight: 500!important;
    line-height: 1!important;
    margin: 10px -20px 0!important;
}
.ets_search_form_tab_div .header_search_tab .search_sub_title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    color: #666;
    text-transform: none;
}
.ets_search_form_tab li {
    display: inline-block;
    line-height: 32px;
    padding: 0;
    position: relative;
    float: left;
    margin: 0 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}
button.loading:focus:not(:hover),
button:focus:not(:hover),
.btn:focus:not(:hover){
    background: #fff!important;
}
button:focus{
    outline: none!important;
}
.alert-info.ybc_miss_product {
    margin-bottom: 36px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');
.ets_search_form_tab_div .header_search_tab h3.title {
    border: none!important;
    line-height: 1.1!important;
    height: auto!important;
    margin-top: 0!important;
    text-transform: capitalize!important;
    font-family: Open Sans,sans-serif;
    font-weight: 600;
    margin-bottom: 25px!important;
}
.ets_search_form_tab li:not(:first-child):before {
    content: "";
    height: 14px;
    width: 1px;
    background: #555;
    position: absolute;
    left: -30px;
    top: 9px;
}
.ets_search_form {
    margin-top: 40px;
}
.ets_search_form_tab_div .header_search_tab .search_sub_title:after {
    content: "";
    width: 100%;
    background-image: url(../img/divider.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 13px;
    display: block;
    margin-top: 25px;
}
.ets_search_form_tab li i {
    margin-right: 4px;
}
.group_result_text > .col-lg-9,
.group_placeholder > .col-lg-9{
    max-width: 400px;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

#module_form.loading .action_index_product:after {
    content: "";
    position: relative;
    border-top: 1px solid #00aff0;
    border-bottom: 1px solid #00aff0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    vertical-align: -5px;
    animation: loading 0.5s infinite linear;
    -webkit-animation: loading 0.5s infinite linear;
}

.ets_search_form_tab li.active {
    color: #2eacce;
}
.ets_search_form_tab li.active:after {
    position: absolute;
    content: "";
    height: 2px;
    background: #2eacce;
    bottom: -1px;
    width: 100%;
    left: 0;
}

.ybc_search_alert {
    position: fixed;
    right: 32px;
    top: 30px;
    z-index: 1000;
}
.ybc_search_alert.hidden{
    display: none;
}
.box_update{
    display: inline-block;
}
.ybc_add_keyword i,
.ybc_update_keyword i,
.ybc_cace_update i{
    margin-right: 5px;
}

.btn-default.is_load i:after,
.bootstrap .btn-default.is_load i:after,
.bootstrap .delete.is_load i:after{
    content: "";
    position: absolute;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 50%;
    margin-left: -9px;
    top: 0;
    animation: loading 0.5s infinite linear;
    -webkit-animation: loading 0.5s infinite linear;
}
.panel-footer .btn.btn-default.loading i:after {
    content: "";
    display: flex!important;
    display: -webkit-flex;
    font-family: FontAwesome,sans-serif;
    font-size: 36px;
    position: fixed;
    -webkit-animation: spiner_loading 0.5s infinite linear;
    animation: spiner_loading 0.5s infinite linear;
    left: 50%;
    top: 1px;
    z-index: 1001;
    margin-left: -10px;
    margin-right: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.panel-footer .btn.btn-default.loading i:before{
    opacity: 0;
}

button.btn {
    outline: none!important;
    text-decoration: none!important;
}
#ybc_search_suggestion-empty-filters-alert{
    width: 100%;
}
.btn-default.is_load:hover i:after,
.bootstrap .btn-default.is_load:hover i:after,
.bootstrap .delete.is_load:hover i:after,
.panel-footer .btn.btn-default:hover i:after{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
@-webkit-keyframes spiner_loading {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spiner_loading {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
form#module_form.defaultForm {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}
.btn-default.is_load:hover i:after,
.bootstrap .btn-default.is_load:hover i:after,
.bootstrap .delete.is_load:hover i:after,
.bootstrap .delete.is_load:focus i:after{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.bootstrap .is_load i:before,
.bootstrap .btn-default.is_load i:before,
.bootstrap .delete.is_load i:before {
    opacity: 0;
    visibility: hidden;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes loading {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
.row_ybc_blocksearch_suggestion_form .panel.col-lg-12 {
     width: 100%;
 }
.bootstrap .input-group .input-group-addon:last-child {
    display: table-cell!important;
}
@media (max-width: 767px){
    .ets_search_form_tab_div .header_search_tab h3.title {
        font-size: 30px!important;
    }
    .ets_search_form_tab_div .header_search_tab .search_sub_title {
        line-height: 1.4;
    }
}