.ph_testimonials-list {

	.new_testimonial_btn {
		margin-bottom: 10px; 
	}

	.ph_testimonials-item {
		margin-bottom: 10px; padding-bottom: 10px;
		border-bottom: 1px solid #f0f0f0;

		&:last-child {
			margin-bottom: 0; border: 0;
		}
	}

	#content {
		height: 150px;
	}
}

#ph_testimonials_module {
	margin-bottom: 38px;
}

#ph_testimonials_module em {
	font-style: italic;
}

#ph_testimonials_module .page-heading {
	font: 600 18px/22px "Open Sans", sans-serif;
	color: #555454;
	text-transform: uppercase;
	padding: 0px 0px 5px 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d6d4d4;
	overflow: hidden; 
}
#ph_testimonials_module .page-heading span.heading-counter {
	font: bold 13px/22px Arial, Helvetica, sans-serif;
	float: right;
	color: #333333;
	text-transform: none;
	margin-bottom: 10px; 
}
	@media (max-width: 480px) {
		#ph_testimonials_module .page-heading span.heading-counter {
			float: none;
			display: block;
			padding-top: 5px; 
		} 
	}

#ph_testimonials_module .page-heading span.lighter {
	color: #9c9c9c; 
}

#ph_testimonials_module .page-heading.bottom-indent {
	margin-bottom: 16px; 
}

#ph_testimonials_module .page-heading.product-listing {
	border-bottom: none;
	margin-bottom: 0; 
}

#ph_testimonials_module blockquote {
  	padding: 15px 18px;
  	margin: 0 0 18px;
  	border-left: 5px solid #eeeeee; 
  	height: auto;
}

#ph_testimonials_module blockquote p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.25; 
}
  
#ph_testimonials_module blockquote p:last-child {
    margin-bottom: 0; 
}

#ph_testimonials_module blockquote small {
    display: block;
    line-height: 1.42857;
    color: #999999; 
}

#ph_testimonials_module blockquote small:before {
    content: '\2014 \00A0'; 
}

#ph_testimonials_module blockquote:before,
#ph_testimonials_module blockquote:after {
  content: ""; 
}

#ph_testimonials_module .testimonials-carousel-item h4 a {
	color: #333;
	font-weight: bolder;
}

#ph_testimonials_module .testimonials-carousel-item h4 a:hover {
	text-decoration: underline;
}

#ph_testimonials_module .testimonials-carousel-item img {
	max-width: 100%; margin-left: auto; margin-right: auto;
	border: 1px solid #f0f0f0;
}
#ph_testimonials_module .testimonials-carousel-item img:hover {
	border-color: #222;
}

#ph_testimonials_module .testimonials-carousel-item {
	overflow: hidden; height: auto;
}
