.ph_testimonials-list .new_testimonial_btn {
    margin-bottom: 10px;
}

.ph_testimonials-list .ph_testimonials-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

    .ph_testimonials-list .ph_testimonials-item:last-child {
        margin-bottom: 0;
        border: 0;
    }

.ph_testimonials-list #content {
    height: 150px;
}

#ph_testimonials_module {
    margin-bottom: 38px;
}

    #ph_testimonials_module em {
        font-style: italic;
    }

    #ph_testimonials_module .page-heading {
        font: 600 18px/22px "Open Sans", sans-serif;
        color: #555454;
        text-transform: uppercase;
        padding: 0px 0px 5px 0px;
        margin-bottom: 20px;
        border-bottom: 1px solid #d6d4d4;
        overflow: hidden;
    }

        #ph_testimonials_module .page-heading span.heading-counter {
            font: bold 13px/22px Arial, Helvetica, sans-serif;
            float: right;
            color: #333333;
            text-transform: none;
            margin-bottom: 10px;
        }

@media (max-width: 480px) {
    #ph_testimonials_module .page-heading span.heading-counter {
        float: none;
        display: block;
        padding-top: 5px;
    }
}

#ph_testimonials_module .page-heading span.lighter {
    color: #9c9c9c;
}

#ph_testimonials_module .page-heading.bottom-indent {
    margin-bottom: 16px;
}

#ph_testimonials_module .page-heading.product-listing {
    border-bottom: none;
    margin-bottom: 0;
}

#ph_testimonials_module blockquote {
    padding: 15px 18px;
    margin: 0 0 18px;
    border-left: 5px solid #eeeeee;
    height: auto;
}

    #ph_testimonials_module blockquote p {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.25;
    }

        #ph_testimonials_module blockquote p:last-child {
            margin-bottom: 0;
        }

    #ph_testimonials_module blockquote small {
        display: block;
        line-height: 1.42857;
        color: #999999;
    }

        #ph_testimonials_module blockquote small:before {
            content: '\2014 \00A0';
        }

    #ph_testimonials_module blockquote:before,
    #ph_testimonials_module blockquote:after {
        content: "";
    }

#ph_testimonials_module .testimonials-carousel-item h4 a {
    color: #333;
    font-weight: bolder;
}

    #ph_testimonials_module .testimonials-carousel-item h4 a:hover {
        text-decoration: underline;
    }

/*#ph_testimonials_module .testimonials-carousel-item img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: none;
}*/

/*    #ph_testimonials_module .testimonials-carousel-item img:hover {
        border-color: #222;
    }*/

#ph_testimonials_module .testimonials-carousel-item {
    overflow: hidden;
    height: auto;
}

#ph_testimonials_module {
    margin-bottom: 0;
}

    #ph_testimonials_module h1.page-heading {
        color: #56575f;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin-top: 30px;
        border-bottom: 2px solid #e3e3e3;
        padding-bottom: 16px;
        text-transform: none;
    }

        #ph_testimonials_module h1.page-heading .testimonialButton {
            display: inline-block;
        }

            #ph_testimonials_module h1.page-heading .testimonialButton a {
                font-size: 18px;
                font-weight: normal;
                margin-left: 5px;
                color: #2f84ed;
            }

    #ph_testimonials_module .testimonials-carousel-item blockquote {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        font-style: italic;
        text-align: justify;
        padding-left: 0;
        padding-right: 40px;
        border-left: none;
    }

        #ph_testimonials_module .testimonials-carousel-item div.content-item a {
            color: #2f84ed;
            display: block;
        }

.testimonials-carousel-item h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
}

.ph_testimonials-item-content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #2f84ed;
}


.ph_testimonials-item-content .testimonial_date {
    font-size:11px;
    color: #a2a2a2;
}