.header_user_info {
	float: right;/*border-left: 1px solid #b3995b;
  border-right: 1px solid #b3995b;*/
}
.header_user_info a {
	color: #333;
	font-weight: bold;
	display: block;
	cursor: pointer;
	line-height: 18px;
}
 @media (max-width: 479px) {
 .header_user_info a {
 font-size: 11px;
}
}
.header_user_info a:hover, .header_user_info a.active {
	color: #b3995b;
}

/*# sourceMappingURL=blockuserinfo.css.map */
@media (max-width: 767px) {
 .header-container .header_user_info:first-child {
 float: left;
}
 .header_user_info a {
 line-height: 44px;
}
}
