.flexisel-container
{
    display: none;
}

.nbs-flexisel-container
{
    position: relative;
 
}

.nbs-flexisel-ul
{
    position: relative;
     margin: 0px;
    padding: 0px;
    width: 99999px;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner
{
    overflow: hidden;
    width: 100%;
 
}

.nbs-flexisel-item
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    line-height: 0px;
    /*border: 1px solid #eaeaea;*/
    margin: 0 0 16px 0;
	border-radius:5px;
	
}
.multirow .nbs-flexisel-item  {
    border: 0;
}

    .multirow .nbs-flexisel-item > div > div {
        border: 1px solid #eaeaea;
        margin: 0 16px 16px 0;
	    border-radius:5px;
    }

    .vertical3 .multirow .nbs-flexisel-item > div > div {
        margin: 0 0 16px 0;
	}

.vertical3 .nbs-flexisel-item {
    margin: 0 0 16px 0;
}

.nbs-flexisel-item .product-container {
    width: 98%;
    border: 1px solid #eaeaea;
    border-radius:5px;

}

    .nbs-flexisel-item img
    {
        max-width: 100%;
        cursor: pointer;
        position: relative;
        /*margin-top: 10px;
        margin-bottom: 10px;
        max-width: 100px;
        max-height: 45px;*/
        display: inline-block;
        padding: 2px;
    }

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right
{
width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
    display: flex;
    text-align: center;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
	color:#000;
	
}

.nbs-flexisel-nav-left
{
    right: 57px;
    font-size: 35px;
    margin-top: -5px;
}

    .nbs-flexisel-nav-left::after
    {
        content: "\f104";
        display: inline-block;
  font-family: 'FontAwesome';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.nbs-flexisel-nav-right
{
    right: 22px;
    font-size: 35px;
    margin-top: -5px;
}

    .nbs-flexisel-nav-right::after
    {
        content: "\f105";
        display: inline-block;
  font-family: 'FontAwesome';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
