.section_title {
    text-align: left;
    padding: 30px 0 10px;
    text-transform: capitalize;
    display: block;
    clear: both;
    border-bottom: 2px solid #d71920;
    margin-bottom: 10px;
}
.section_title > span {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
    font-weight: normal;
    background: #d71920;
    padding: 10px;
}
.section_title_img {
	text-align: center;
	border: 4px solid;
	border-bottom: none;
}
.section_title_img img {
	max-width: 100%;
}
.section_img {
	width: auto;
	display: inline-block;
	vertical-align: top;
	float: right;
}
#section-slider div.section_container:nth-child(even) .section_img {
 float: left;
}
#section-slider div.section_container .clearfix {
	z-index: 1;
}
#section-slider div.section_container .section_products {
	z-index: 2;
}
.section_products {
	width: 72.5%;
	float:left;
}
.section_full {
	width: 100%;
}
 #section-slider div.section_container:nth-child(even) .section_products {
 float: right;
}
 /*#section-slider div.section_container:nth-child(even) .section_products .nbs-flexisel-item {
 margin: 0 0 16px 16px!important;
}*/
 #section-slider div.section_container:nth-child(even) .section_products .nbs-flexisel-nav-right {
right: 2px!important;
}
 #section-slider div.section_container:nth-child(even) .section_products .nbs-flexisel-nav-left {
right: 38px!important;
}
#section-slider div.section_container .section_full .nbs-flexisel-nav-left {
	right: 36px!important;
}
#section-slider div.section_container .section_full .nbs-flexisel-nav-right {
	right: 0!important;
}
 /*#section-slider div.section_container .section_full .nbs-flexisel-item:nth-child(even) {
margin-right:0!important;
}*/
 #section-slider div.section_container .section_full .nbs-flexisel-item:nth-child(odd) {
margin-left:0!important;
}
/*#section-slider div.section_container .section_full .nbs-flexisel-item {
	width: 49.2%!important;
}*/
/* section slider */
#section-slider-wrapper .nbs-flexisel-container {
	border: none!important;
	background: #fff;
}
#section-slider-wrapper .nbs-flexisel-item .left-block .product-image-container {
	border: none!important;
	width: 150px;
}

.topbottom #section-slider-wrapper .nbs-flexisel-item .left-block .product-image-container {
    width: 100%;
}

.topbottom .class-block {
    text-align: center;
    padding: 0 10px 10px;
}


 @media (max-width: 625px) {
#section-slider-wrapper .section_img {
	/*display: none!important;*/
    width: 100% !important;
    max-width: 100% !important;
}
 #section-slider-wrapper .section_img.mobile_hidden {
 display: none!important;
}
 .section_products {
 width: 100%!important;
}
/*.section_title > span, .HomeContentTitle span {
 display: block;
 padding: 0 20px!important;
}*/
}

@media (min-width: 625px) {
     #section-slider-wrapper .section_img.desktop_hidden {
 display: none!important;
}
}

#section-slider a.product-name {
	/*display: block;*/
    max-height: 100px;
    height: 46px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #303030;
}
#section-slider .fulltitle  a.product-name {
    display: -webkit-box;
}

#section-slider-wrapper .section_img img {
	width: 100%;
	height: auto;
}
#section-slider-wrapper .section_img {
	height: auto;
	border: 1px solid #eaeaea;
	border-radius: 3px;
    max-width: 27%
}
#section-slider-wrapper .nbs-flexisel-item .left-block .product_img_link img {
	margin: auto;
	height: auto;
}
#section-slider-wrapper .nbs-flexisel-item .left-block {
	height: auto;
	float:left;
}
.line-height-default {
	line-height: normal;
	text-align: center;
}
.review-content-height {
	text-overflow:ellipsis;
	height:50px;
	font-style: italic;
}
.nbs-flexisel-item {
	list-style: none;
    text-align: left;
    margin-right: 2px;
}
.voucher-wrapper {
	display: -webkit-flex;
	display: flex;
}
.section_voucher {
	background-color: #148E94;
	width: 20%;
	padding: 30px;
	color: #fff;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.voucher_collect {
	background-color: #EF3242;
	text-transform: uppercase;
	padding: 10px 30px;
	font-size: 18px;
	color: #fff;
	border-radius: 50px;
	display: block;
	text-align: center;
}
.voucher_desc {
	text-align:center;
}
 @-moz-document url-prefix() {
 #section-slider-wrapper .product_img_link2 img {
 height: 180px;
 margin: 0 auto;
}
 #section-slider-wrapper .nbs-flexisel-item .left-block .product_img_link img {
 height: 200px;
}
 #section-slider-wrapper .nbs-flexisel-item .left-block2 {
 height: 180px;
}
 #section-slider-wrapper .nbs-flexisel-item .right-block-review {
 height: 190px;
 overflow:visible;
 align:center
}
 #section-slider-wrapper .nbs-flexisel-item .left-block {
 height: 200px;
}
 @media (max-width: 991px) {
 #section-slider-wrapper .nbs-flexisel-item .left-block .product_img_link img {
 height: 120px;
}
 #section-slider-wrapper .nbs-flexisel-item .left-block {
 height: 120px;
}
}
}
 @media (max-width: 1199px) {
#section-slider-wrapper {
 height: 257px;
}
}
 @media (max-width: 991px) {
#section-slider-wrapper {
 border: none;
}
}
#section-slider-wrapper .nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	top: -40px!important;
}
#section-slider-wrapper .price-percent-reduction {
	display:none;
}
/* section grid */
.section-grid {
	position: relative;
}
.section-grid #section-slider-wrapper {
	border: none;
}
.section-grid #section-slider-wrapper .section_products {
	width: 100%;
}
.section-grid #section-slider-wrapper .section_products ul {
	list-style: none !important;
	padding: 0 !important;
     margin: 70px 0 0 0;
}
.section-grid #section-slider-wrapper li>div.product-container {
	background: #fff;
	border-radius: 4px;
	margin: 10px 0;
	padding: 10px;
}
.section-grid #section-slider-wrapper div.product-container div.right-block {
	text-align: center;
	min-height: 84px;
}
.section-grid .more-link {
	position: absolute;
	right: 10px;
	top: 30px;
}
.section-grid .more-link a {
	padding: 8px 15px;
	background: #12474c;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
}
 @media (min-width: 992px) {
 .section-grid #section-slider-wrapper li.col-md-3 {
 width: 20%;
}
}
#section-slider {
	margin: 60px 0 0 0;
}
#section-slider-wrapper .nbs-flexisel-item .right-block {
	text-align:left;
    padding: 0 15px;
}
#section-slider-wrapper .nbs-flexisel-item .right-block h5 {
	margin: 10px 0 15px 0;
}



@media (min-width: 992px) {
    .vertical3 {
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }
}

@media (max-width: 991px) {
    .vertical3 {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
}

@media (max-width: 580px) {
    .vertical3 {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .nbs-flexisel-item .product-container {
        width: 100% !important;
    }
}
