/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left,
.footer_copyright #newsletter_block_left {
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 15px;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    #footer #newsletter_block_left,
    .footer_copyright #newsletter_block_left {
      width: 100%; } }
  #footer #newsletter_block_left h4,
  .footer_copyright #newsletter_block_left h4 {
    background: none;
    float: left;
    padding: 7px 16px 5px 0;
    text-transform: none;
    font-size: 18px;
    line-height: 25px;
    border: none;
    color: #eaeaea;
  }
    #footer #newsletter_block_left h4:after,
    .footer_copyright #newsletter_block_left h4:after {
      display: none; }
  #footer #newsletter_block_left .block_content,
    .footer_copyright #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group,
  .footer_copyright #newsletter_block_left .form-group {
    margin-bottom: 0; }
    #footer #newsletter_block_left .form-group .form-control,
    .footer_copyright #newsletter_block_left .form-group .form-control {
      height: 45px;
      max-width: 267px;
      background: #fbfbfb;
      border: 1px solid #b3995b;
      color: #5e5e5e;
      padding: 10px 100px 10px 12px;
      display: inline-block;
      float: left; }
      #footer #newsletter_block_left .form-group .form-control:focus
      .footer_copyright #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0px 0px 0px;
        -webkit-box-shadow: black 0px 0px 0px;
        box-shadow: black 0px 0px 0px; }
    #footer #newsletter_block_left .form-group .button-small,
    .footer_copyright #newsletter_block_left .form-group .button-small {
      margin-left: -146px;
      border: none;
      background: #d71920;
      text-align: center;
      color: #fff;
      padding: 0;
      height: 39px;
      margin-top: 3px;
      border: 1px solid #fff;
    }
      /*#footer #newsletter_block_left .form-group .button-small:before,
      .footer_copyright #newsletter_block_left .form-group .button-small:before {
        content: "\f138";
        font-family: "FontAwesome";
        font-size: 28px;
        color: #d71920;
        line-height: 28px; }*/
      #footer #newsletter_block_left .form-group .button-small:hover,
      .footer_copyright #newsletter_block_left .form-group .button-small:hover {
        color: #fff !important; }
      /*#footer #newsletter_block_left .form-group .button-small span,
      .footer_copyright #newsletter_block_left .form-group .button-small span {
        display: none; }*/
  #footer #newsletter_block_left .warning_inline,
  .footer_copyright #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline,
      .footer_copyright #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
  #footer #newsletter_block_left .newsletter-input,
  .footer_copyright #newsletter_block_left .newsletter-input {
    max-width: 400px !important; }
  #footer #newsletter_block_left #gdpr_consent,
  .footer_copyright #newsletter_block_left #gdpr_consent  {
    margin-top: 20px; }

/*# sourceMappingURL=blocknewsletter.css.map */
